.container-fluid {
    padding: 0;
}
.list-container, .task-container {
    margin-top: 5vh;
}
textarea {
    min-height: 5vh;
    max-height: 40vh;
}
.table th {
    background: white;
    cursor: pointer;
    transition: background-color .5s ease;
}
.table th:hover {
    background-color: lightgrey;
}
.login-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(49, 48, 48, 0.8);
    z-index: 100;
}
.modal-container form {
    background-color: white;
    padding: 2.5vw 5vw;
}